{% extends 'base.html.twig' %}

{% block title %}Troc'Eco | J'ajoute une catégorie{% endblock %}



{% block contenuPrincipal %}
<section>
        <div>
            <h1 class="display-4">J'ajoute une catégorie</h1>
        </div>

        <div class="bg-vert rounded">
            {{ form_start(Formulaire) }}
                <div class="my-custom-class-for-errors">
                {{ form_errors(Formulaire) }}
                </div>

                <div class="column">
                    
                    
                    <div class="col" id="some-custom-id">
                        {{ form_start(Formulaire) }}

                            {{ form_row(Formulaire.nom) }}

                            {{ form_row(Formulaire.photo) }}
                            {{ form_row(Formulaire.save) }}

                        {{ form_end(Formulaire) }}

                    </div>
                        
                </div>
            {{ form_end(Formulaire) }}
        </div>
    </section>
    
   

{% endblock %}
