<header>
    <!-- BLOC HEADER -->
        {% block header %}
            <!-- BARRE DE NAVIGATION -->
            <div class="container-fluid header mt-4">
                <div>
                    <a href="{{ path('accueil') }}">
                        <img  class="logo m-3" src="../img/logo.png" alt="logo" width="50" height="50">
                    </a>
                </div>
                

                <nav class="nav">
                   
                    
                    <a href="{{ path('accueil') }}">Comment je fais ?</a>   
                    <a href="{{ path('recherche') }}">Je recherche</a>
                    

                    <!-- Si connecté affiche dans la navbar "j'ajoute troc", "profil","message"-->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <a href="{{ path('ajout') }}">J'ajoute un troc</a>
                        <a href="{{ path('profil') }}">Mon profil</a>
                        <a href="{{ path('message') }}">Mes messages</a>

                        <!-- Si role admin alors affiche btn Gestion -->
                        {% if is_granted('ROLE_ADMIN') %}
                        
                            <a href="{{ path('gestion') }}">Gestion</a>
                        {% endif %}
                        <!-- Fin condition btn Gestion -->

                        
                        <a href="{{ path('app_logout') }}">Je me déconnecte</a>
                        

                    <!-- sinon (pas connecté) affiche "Se connecter" et "Je m'inscris" -->        
                    {% else %}
                        <a href="{{ path('inscription') }}">Je m'inscris</a>
                        
                        <a href="{{ path('app_login') }}">Je me connecte</a>
                       

                    {% endif %}
                    <!-- Fin condition-->
                        
                </nav>

            </div>
        {% endblock %}
</header>