{% extends 'base.html.twig' %}

{% form_theme Formulaire 'bootstrap_4_layout.html.twig' %}



{% block contenuPrincipal %}
    <section>
        <div class="shadow-lg">
            <h1 class="text-center py-3 my-5"> Ajouter un troc</h1>
        </div>
        {# FORMULAIRE#}
        <div class="container shadow bg-vert rounded">
            <form method="post">
                <div>
                    {{ form_start(Formulaire) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(Formulaire) }}
                        </div>

                        <div class="row">
                            <h2 class="annonce">Annonce</h2>
                        
                            <h2 class="type">Categorie</h2>
                            
                            <div class="col" id="some-custom-id">
                                {{ form_row(Formulaire.categorie) }}
                                {{ form_row(Formulaire.photo) }}
                                {{ form_row(Formulaire.titre) }}
                                {{ form_row(Formulaire.description) }}
                                {{ form_row(Formulaire.save) }}
                            </div>
                                
                        </div>
                    {{ form_end(Formulaire) }}
                </div>
            </form>
        </div>
    </section>


{% endblock %}
