{% extends 'base.html.twig' %}

{% block contenuPrincipal %}
{{parent()}}

    <section class="">
        <div >
            <h1 class="text-center my-5 py-3">Mon profil</h1>
        </div>
        <div class="container bg-vert rounded">
            <div class=" mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img class="rounded shadow-lg" src="{{ asset('img/profil.png')}}" alt="img-profil">
                    </div>
                    <div class="col-md-6 p-5">
                        
                            <h2 class="text-capitalize">Coucou {{ app.user.nom }}</h2>
                            <p class="">Email : {{ app.user.email }}</p>
                            <p class="text-capitalize">Ville : {{ app.user.ville }}</p>
                            <p class="">Code postal :{{ app.user.cp }}</p>
                            <p class="">Tel : 0{{ app.user.telephone }}</p>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <h2>A propos de moi</h2>
                <p>Gingerbread sesame snaps powder marzipan pie tootsie roll jelly-o. Tiramisu lollipop biscuit liquorice candy canes tootsie roll brownie. Soufflé tiramisu tootsie roll bear claw carrot cake. Jelly-o sweet sesame snaps cheesecake dessert gummies. Muffin sugar plum liquorice caramels fruitcake marzipan candy canes.</p>
                <a href="{{ path('modifier-profil')}}">Modifier mon profil</a>
            </div>
            <div>
                <h2>Mes trocs</h2>
                <!-- Faire une boucle for 
                
                -->
                {% for produit in mesproduits %}
                <div class="mb-3">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="{{ asset('uploads/brochures/' ~ produit.photo)}}" alt="image produit du profil">
                        </div>
                        <div class="col-md-6 p-5">
                            <div class="">
                                <h2 class="text-capitalize">{{ produit.titre }}</h2>
                                <p class="">{{ produit.description }}</p>
                                <p class=""><small class="text-muted">{{ produit.date }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

           
       

        
            
        
        </div>
    </section>


{% endblock %}
